body {
  background-color: #000;
  background-image: url("../images/bg_img.png");
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.topics-btn,
input {
  border: none;
  color: #000;
}

.topics-btn {
    margin: 5px;
}

.gif img {
    max-width: 100%;
    float: left;
    overflow: hidden;
}